html{
	background-color: #CFCFC4;
	height: 100%;
}

body{
	background-color: white;
	width: 70%; 
	min-height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

nav{
	background-color: #CFCFC4;
	padding: 10px;
	border-radius: 10px;
	width: 30%;
	margin: 0 auto;
	text-align: center
}

nav a{
	color: black;
	text-decoration: none;
	padding: 5px;
}

nav a:hover{
	color: orange;
	border-radius: 5px;
}

h1 {
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: black;
	border-radius: 5px 2px 5px 2px;
}

p {
	padding-bottom: 3em;
}

footer {
	text-align: center;
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
}