.nav_0 {
	background-color: orange;
	border: 3px solid red;
	float: left;
	width: 20%;
	height: 100px;
	box-sizing: border-box;
}

.nav {
	background-color: orange;
	border: 3px solid red;
	width: 20%;
	float: right;
	margin-top: 25px;
	box-sizing: border-box;
}

.two{
	clear:both;
	background-color: lightgreen;
	border: 3px solid green;
	box-sizing: border-box;
	float: left;

}

.three {
	clear:both;

}

#three_1 , #three_2 , #three_3 {
	width: 33%;
	box-sizing: border-box;
	float: left;
	border: 3px solid black;
}

footer {
	background-color: lightblue;
	border: 3px solid blue;
	clear:both;
}