body{
	width:80%;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

#output{
	margin:20px;
	border:2px solid red;
	border-radius: 5px;
	background-color: lightgray;
	padding:10px;
}

p:last-child{
	font-size: 0.8em;
	color:gray;
	font-style: italic;
}

#submit{
	display:block;
	margin:20px;
}

img{
	display:block;
	margin:0 auto;
}