/*setup*/

html{
	background: white;
}

body{
	background:gray;
	width:80%;
	margin: 0 auto;
}

div, footer, img {
	background: lightgray; /* used for development - delete before deploy! */
	opacity: 0.8; /* used for development - delete before deploy! */
	padding: 5px; /* used for development - delete before deploy! */
	border:1px solid green; /* used for development - delete before deploy! */
}

span{
	color:blue; /*used for example - delete before deploy*/
	border: 1px solid blue; /*used for example - delete before deploy*/
	font-weight: bold; /*used for example - delete before deploy*/
}

img{
	float:right;
}

/*the bits we're interested in*/

div{
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;

}

#block1{
	margin: 20%;
}

#block2{
	margin: 50%;

}

#block3{
	margin: 30%;

}

footer{

}

/*
handy things...

float: left;
box-sizing: border-box;
display: inline-block;
vertical-align: top;
oveflow: auto;

*/

